$alt-font: "myriad-pro", Helvetica, sans-serif;
$icon-font: "FontAwesome";

$header-height: 60px;

$font-size: 14px;
$font-size-large: 16px;
$font-color: #19282d; //same as dark
$font-heading: #3f4c5c;
$font-subheading: #6f8087; //same as gray-medium
$font-family: "Proxima Nova", "proxima-nova", Sans-Serif;
$font-weights: (normal: 400, bold: 600);

$border: #eaeef0;
$divider: #e6edf3;
$gray-bg: #f2f5f7;
$gray-dark: #666;
$blue: #125caf;
$orange: #c95823;

// Dark shades
$darkest: #263238;
$dark: #37474f;
$medium: #546e7a;
$light: #e4ebef;

// More colors used in app
$blue-dark: #112544;
$blue-light: #e7eef7;
$cyan: #115c64;
$brown: #c45621;
$purple: #791a7d;
$green: #4CAF50;
$red: #c31633;
$yellow: #efaa04;
$cyan: #115c64;
$body-bg: $light;

// Code fonts
$pre-font: Monaco, "Courier New", Courier, monospace;
$code-color: #024966;
$pre-color:  #ecf0f2;

// colors:
$gray: #131313;
$gray-very-light: #fafafa;
$gray-light: #e5e5e5;
$gray-medium: #6f8087;
$gray-dark: #666;
$gray-public: #5d6162; // used for font in public site

$terracotta: #c45621;
$terracotta_light: #cd6f42;

// Padding + borders
$padding: 20px;
$br: 5px;

// Color list

$colors: (
  ("blue", $blue),
  ("purple", $purple),
  ("green", $green),
  ("orange", $orange),
  ("red", $red),
  ("yellow", $yellow),
  ("gray", $gray),
  ("brown", $brown),
  ("cyan", $cyan)
);

$categories: (
  (
    "homepage",
    linear-gradient(135deg,$blue-dark,mix($blue,$blue-dark))
  ),
  (
    "appsignal",
    linear-gradient(135deg,$blue,lighten($blue,10))
  ),
  (
    "design",
    linear-gradient(135deg,$red,lighten($red,10))
  ),
  (
    "elixir",
    linear-gradient(135deg,$purple,lighten($purple,10))
  ),
  (
    "engineering",
    linear-gradient(135deg,$orange,lighten($orange,10))
  ),
  (
    "product",
    linear-gradient(135deg,$green,lighten($green,10))
  ),
  (
    "ruby-magic",
    linear-gradient(135deg,$purple,lighten($purple,10))
  )
)
