---
title: "Host metrics"
---

%p The AppSignal agent collects various system metrics, which allows you to correlate performance issues or errors to abnormal host metrics. We collect the following metrics:

%table
  %thead

  %tbody
    %tr
      %th CPU usage
      %td User, nice, system, idle and iowait in percentages.
    %tr
      %th Load average
      %td 1 minute load average
    %tr
      %th Memory usage
      %td Available and used memory.
    %tr
      %th Disk usage
      %td Percentage of every disk used.
    %tr
      %th Disk IO
      %td Throughput of data read from and written to every disk.
    %tr
      %th Network traffic
      %td Throughput of data received and transmitted through every network interface.

%p
  Collecting these metrics is on by default. To enable it, use the
  <code>enable_host_metrics</code> configuration option, for
  <a href="/ruby/configuration/options.html#appsignal_enable_host_metrics-enable_host_metrics">Ruby</a>
  and/or
  <a href="/elixir/configuration/options.html#appsignal_enable_host_metrics-enable_host_metrics">Elixir</a>.

%p The collected host metrics are available in the "Hosts" section you can reach through the sidebar navigation. Select a host and then click the "Metrics" tab to see all collected metrics.

%p If you have any feedback on this new feature #{link_to "we'd love to hear it!", "mailto:contact@appsignal.com"}

%p
  %strong Note:
  This feature is available in the AppSignal Ruby gem version <code>1.2+</code>.
  It's turned on by default since gem version <code>1.3+</code>.
