= wrap_layout :layout do
  %article.mod-article
    %header
      %h1= current_page.data.title

    ~ yield

    %p.edit
      %span Want to help us improve this documentation page?
      = edit_link
