---
title: "Ruby gem configuration options"
---

<p>The following list includes all configuration options with the name of the environment variable and the name of the key in the configuration file.</p>

<p>For more information on how to configure AppSignal with a configuration file or system environment variables, see our <%= link_to "Configuration", "/ruby/configuration" %> topic.</p>

<%= partial "shared/options_list", :locals => { :integration => :ruby } %>
