$sidebar: 320px
$content: 720px

*
  box-sizing: border-box

img
  max-width: 100%
  -ms-interpolation-mode: bicubic

html
  height: 100%

body
  min-width: $sidebar
  background: $body-bg
  height: 100%

.layout-wrap
  @extend %clearfix
  height: 100%
  margin: 0 auto

.layout-main
  background: #fff
  @extend %clearfix

+min-width(800px)

  .layout-side
    width: $sidebar
    position: fixed
    +calc(height, '100% - 80px')
    overflow-y: scroll
    margin-top: 80px
    +scrollbar(7px, rgba(mix($dark, white),.4), none)

  .layout-main
    +calc(width, '100% - #{$sidebar}')
    position: fixed
    left: $sidebar
    +calc(height, '100% - 80px')
    overflow-y: scroll
    margin-top: 80px
    +scrollbar(7px, rgba(mix($dark, white),.6), none)
