.mod-footer
  .inner
    %section
      %h1 Need more help?
      %p Contact us and speak directly with the engineers working on AppSignal. They will help you get set up, tweak your code and make sure you get the most out of using AppSignal.
      = link_to 'Contact us', 'mailto:support@appsignal.com', class: "button small"

    %section
      %h1 Start a trial - 30 days free
      %p AppSignal is a great way to monitor your Ruby applications. Works great with Rails, Sinatra and Grape, with support for Sidekiq, Delayed job &amp; Resque. Let's improve your apps together.
      = link_to 'Start a trial', 'https://appsignal.com/plans', class: "button small"
