.mod-article
  position: relative
  max-width: 800px
  margin: 0 auto
  padding: 40px

  h1
    @extend %h-large
    margin-bottom: 20px

  h2
    @extend %h-normal
    margin-bottom: 10px

  h3
    @extend %h-small
    margin-bottom: 5px

  h1, h2, h3
    a
      color: $font-heading
      text-decoration: none

  p + h1,
  p + h2,
  p + h3
    margin-top: 40px

  p, ul, ol
    color: $font-subheading

  p
    margin-bottom: 30px

  .intro
    @extend %t-large

  ul, ol
    margin-bottom: 24px
    list-style: disc inside

  ol
    list-style: decimal inside

  strong
    font-weight: 700

  img
    border: 35px solid rgb(236, 240, 242)
    max-width: 100%

  .edit
    background: mix($blue,white,5%)
    border: 1px solid mix($blue,white,30%)
    border-radius: $br
    padding: 15px 30px
    margin: 40px 0 0
    text-align: center
    color: rgba($dark,0.8)

    +min-width(1050px)
      display: flex
      justify-content: space-between
      align-items: center

      a
        font-size: 0.9em
        background: $blue
        color: #fff
        border-radius: $br
        text-decoration: none
        padding: 5px 20px
        line-height: 28px
        margin-left: 20px
        +hocus
          background: lighten($blue,5)
