.mod-side_nav
  line-height: 2

  > ul > li

    & + li
      border-top: 1px solid $border

  ul ul
    display: none
    border-top: 1px solid $border
    padding: 10px 20px

    li ul
      padding-left: 15px
      margin: 5px 0px
      border-left: 1px solid rgba($font-subheading, 0.6)



  h2
    font-size: $font-size-large
    cursor: pointer
    +font-weight(bold)
    padding: 15px 20px
    line-height: 1
    background: lighten($border,5)
    display: flex
    align-items: center
    user-select: none

    a
      color: inherit

    img
      margin-left: auto

    &.open
      img
        transform: rotate(90deg)
        user-select: none

      + ul
        display: block

  a,
  span
    display: block
    color: $font-subheading
    font-size: $font-size-large
    text-decoration: none

  a
    &:hover,
    &:focus
      color: $blue
      text-decoration: underline

    &.active
      color: $blue
