.mod-side_nav
  line-height: 2
  padding: 50px 30px

  h2
    cursor: pointer
    +font-weight(bold)
    padding: 15px 20px 15px 25px
    line-height: 1
    display: flex
    user-select: none
    color: $dark

    .fa
      position: absolute
      left: 25px
      opacity: 0.6
      margin-top: -1px
      transition: transform 0.2s

    a
      color: inherit

    & + ul
      display: none
      transition: opacity 0.5s
      opacity: 0
      margin: -5px 0 10px 25px

      ul
        padding-left: 15px
        border-left: 1px solid $border-dark
        margin: 5px 0px
        position: relative

    &.open
      + ul
        display: block
        opacity: 1

    sup
      margin-left: 5px
      color: $blue

  h2[data-menu]
    &.open
      .fa
        transform: rotate(90deg)

  a,
  span
    display: block
    color: $medium
    text-decoration: none

  a
    &:hover,
    &:focus
      color: $blue
      text-decoration: underline

    &.active
      color: $blue
      +font-weight(bold)
