.mod-side_nav
  padding: 50px 40px 40px

  h2
    @extend %h-small
    margin-bottom: 5px
    a
      color: inherit

  ul
    line-height: 2

    ul
      margin-bottom: 40px

      li ul
        padding-left: 15px
        margin: 5px 0px
        border-left: 1px solid rgba($font-subheading,0.6)

  a
    display: block
    text-decoration: none
    font-size: 14px
    color: $font-subheading

    &:hover,
    &:focus
      color: $blue
      text-decoration: underline

    &.active
      color: $blue
